*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
}
.tasks{
    width: 100%;
    
}
.task{
    
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    

    
    
    
}
.scris{
    
    width: 20%;
    
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but{
    margin-left: 30px;
    border: none;
    background-color: rgb(238, 43, 43);
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.but2{
    margin-left: 15px;
    border: none;
    background-color: green;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}


.form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 20px;
    
    
}
.car{
    background-color: rgb(248, 242, 242);
    width: 20%;
    
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    outline: none;
    padding-left: 115px;
    
}
.miau
{
    margin-left: 30px;
    
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    
}
.miau2
{
    margin-left: 15px;
    
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    opacity: 0;
    
}
.ceau{
    display: flex;
    align-items: center;
    justify-content: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    
    opacity: 1; /* Firefox */
  }