<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    
<form action="../scripts/add.js" method="post" id="add">

   <label for="">Name</label>
   <input type="text" name ="name">
   <label for="">Valoare</label>
   <input type="number" name="val">
   <label for="">Description</label>
   <textarea  id="" cols="30" rows="10" name="text"></textarea>
   <input type="submit" value="Add">


</form>

<script src="../scripts/add.js"></script>

</body>
</html>