*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}
.a{
    display: flex;
    padding-left: 75px;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.3rem;

}
form{
    margin-top: 50px;
}
.q{
    width: 100%;
    background-color: beige;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.big{
    width: 500px;
    height: 500px;
    background-color: bisque;
}
.a p{
    margin-left: 20px;
}
.b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
button{
    width: 150px;
    height: 50px;
    border: 0px;
}
.qsq{
    width: 100%;
    margin-left: 50px;
}